@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-bold {
    color: oklch(45.7% 0.24 277.023);
    font-weight: bold;
}

.hint-header {
    border: 2px solid #999;
    background-color: #e6ccff;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
}

.hint {
    font-size: 18px;
    margin-left: 20px;
    background-color: #e6ccff;
}

.math-formula {
    color: #003366;
    font-weight: bold;
}

.titulo {
    background-color: #e8dff5;
    padding: 15px;
    border-radius: 8px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.subtitulo {
    background-color: #d6eaf8;
    padding: 12px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
}
.caja {
    background-color: #f3f0ff;
    padding: 24px;
    border-radius: 6px;
    margin: 12px 0;
}
.caja ol li, .caja ul li {
    margin: 12px 6px;
    list-style: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 14px;
}
th, td {
    border: 2px solid #0033cc;
    padding: 4px;
}
.header-label {
    font-size: 10px;
}
.azul-rey {
    background-color: #0033cc;
    color: #ffffff;
}
ol, ul {
    margin-left: 12px;
    list-style: auto;
}


